# Chapter01. 파이썬 데이터 타입

이전 제 github에도 다루었던 내용이지만 이책에서도 다루고 있어 다시한번, 정리해보도록 하겠습니다.

### 1.3.3 문자열

문자 또는 문자열은 'class str'을 데이터 타입으로 가집니다. 큰 따옴표("") 또는 작은 따옴표('')를 사용하여 사용합니다.

In [1]:
type('P')

str

In [2]:
type('Python')

str

In [3]:
# 파이썬 쉘에서 문자열만 적으면 줄바꿈한 것이 \n으로 표시됩니다
""" Python
... is
... Easy
"""

' Python\n... is\n... Easy\n'

In [4]:
# print문을 사용하여 출력하면 \n 대신 줄바꿈이 됩니다.
print(# 파이썬 쉘에서 문자열만 적으면 줄바꿈한 것이 \n으로 표시됩니다
""" Python
... is
... Easy
""")

 Python
... is
... Easy

In [5]:
# + 기호를 이용하여 문자열을 결합
"Hello, " + "World"

'Hello, World'

In [6]:
print("Hello, " + "World")

Hello, World

In [7]:
# 문자열에 숫자를 곱하여 문자열을 지정한 숫자만큼 반복해서 보여줄 수 있습니다.
'*' * 50

'**************************************************'

정수 인덱스를 사용하여 하나의 원소에 접근 또는 슬라이싱해 다수의 원소에 접근이 가능합니다

In [8]:
str = "Python"

In [9]:
# 인덱싱
str[0]

'P'

In [10]:
# 슬라이싱
str[0:2]

'Py'

문자열은 수정이 불가합니다.

In [11]:
a = 'abcdefg'
a[0] = 'h'

TypeError: 'str' object does not support item assignment

값을 수정하기 위해선 새로운 객체를 생성하거나 replace 메소드를 사용해야 합니다 :)

In [14]:
a = 'abc'

str1 = 'b' + a[1:]

In [15]:
str1

'bbc'

In [16]:
str2 = a.replace('a','b')
str2

'bbc'

In [18]:
a

'abc'

문자열이 특정한 범위 a ~ z , A ~ Z , 0 ~ 9, _ 로 구성되는 경우 기존에 생성된 객체가 있다면 새로 객체를 생성하지 않고 기존객체를 이용합니다.  
아래 예를 통해 확인해 보겠습니다.

In [27]:
a = 'aBCdEfg_'
b = 'aBCdEfg_'

In [28]:
a == b

True

In [29]:
a is b

True

In [30]:
a is 'aBCdEfg_'

True

In [31]:
a_ = 'aBCdEfg_!'
b_ = 'aBCdEfg_!'

In [36]:
a_ == b_

True

In [37]:
a_ is b_

False

In [39]:
a_ == 'aBCdEfg_!'

True

In [40]:
a is 'aBCdEfg_!'

False

위의 결과를 볼때 a 와 b 와 'aBCdEfg_!' 는 모두 같은 문자열이지만 모두 다른 객체임을 알 수 있습니다.

a ~ z , A ~ Z , 0 ~ 9, _ 는 변수 대입 전에 문자열을 조합하는데에는 문제가 없습니다.

In [41]:
a = 'a' + 'bc'
b = 'abc'

a == b

True

In [43]:
a is b

# True 로 나옴

True

하지만 아래와 같이 a1,b1 에 따로 문자열을 대입후 변수 a에 두문자열을 더하여 대입하면 문제가 발생합니다 , 예로 설명하겠습니다

In [44]:
a1 = 'a'
a2 = 'bc'
a = a1 + a2

In [45]:
a

'abc'

In [46]:
a == b

True

In [47]:
a is b

False

__False__가 출력됩니다.!!

In [48]:
a is 'abc'

False

동일한 문자로 구성된 문자열을 항상 같은 객체로 처리하고 싶다면 sys.intern 메소드를 사용합니다.

In [49]:
import sys

a = sys.intern("aBCdEfg_!")
b = sys.intern("aBCdEfg_!")

a is b

True

In [50]:
str = input("input str=")

input str=a

In [51]:
str is 'a'

True

In [52]:
sentence = input("input sentence=")

input sentence=abc

In [54]:
sentence is 'abc'

False

신기하게도 문장은 False를 반환합니다.  
그러므로 문자열을 비교할때는 is가 아닌 ==를 사용해야 됩니다.

In [55]:
sentence == 'abc'

True

### 1.3.5 리스트

리스트는 다른 데이터 타입의 데이터를 저장할 수 있는 데이터 타입으로 객체 생성 후 수정이 가능합니다. 대괄호([]) 안에 콤마로 구분된 데이터를 입력하여 리스트를 생성하게 됩니다. 다음과 같이 리스트는 각기 다른 데이터 타입의 원소를 가질수 있습니다.

In [56]:
L = [1, 0.01, 'A']

In [57]:
type(L)

list

In [58]:
print (type(L[0]),type(L[1]),type(L[2]),)

<class 'int'> <class 'float'> <class 'str'>

같은 원소로 구성되어도 순서가 다르면 다른 리스트입니다.

In [61]:
a = [1,2,3]
b = [1,2,3]
c = [2,1,3]
#리스트의 원소와 순서가 같다.
a == b

True

In [62]:
a is b

False

In [63]:
# 순서도 다르다
a == c

False

deepcopy와  
shallow copy에 대해 알아보자

In [64]:
import copy
a = [1,2,3]
b = a #대입
c = copy.copy(a)
d = copy.deepcopy(a)

In [65]:
a,b,c,d

([1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3])

In [66]:
id(a),id(b),id(c),id(d)

(1549684758856, 1549684758856, 1549683005448, 1549682976712)

In [67]:
b[0] = 100 
a,b,c,d

([100, 2, 3], [100, 2, 3], [1, 2, 3], [1, 2, 3])

대입을 하면 id 가 같은 같은 객체로 인식됩니다.   
아직까지는 deep copy와 shallow copy의 차이를 알기 힘듭니다.